/*general*/
html, body {
    width: 100%;
    height: 100%;
    padding: none;
    margin: 0;
}

p {
    font-family: arial;
}

input {
    border-radius: 4px;
    padding: 10px;
    border: solid 1px #00239C;
}

.body0 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 80px;
    font-family: arial;
}

.pad-10 {
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
}

.pad-20 {
    padding-left: 20%;
    padding-right: 20%;
    width: 60%;
}

.center {
    text-align: center;
}

.centerWithFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*text*/
.index-title {
    font-family: arial;
    font-size: 150px;
    margin-top: -10vh;
    color: #00239C;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #E10600, -1px 1px 0 #000, 1px 1px 0 #000;
}

/*buttons*/
.btn-custom1 {
    border-radius: 7px;
    border: 1px solid purple;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 16px;
    text-decoration: none;
    text-shadow: 0px 1px 2px #2f6627;
    display: flex;
    flex-direction: row;
    width: 175px;
    overflow: hidden;
}

.custom1-left {
    background-color: #00239C;
    width: 100%;
    height: 100%;
    padding: 8px 15px;
    color: #FF8680;
}

.custom1-right {
    background-color: #E10600;
    width: 100%;
    height: 100%;
    padding: 8px 15px;
    color: #80A3FC;
}

@media only screen and (max-width: 1441px) {
    .btn-custom1 {
        width: 40vw;
        font-size: 50px;
        border-radius: 12px;
    }
}

@media only screen and (max-width: 1441px) {
    .btn-custom1 {
        font-size: 40px;
    }
}

.btn {
    border-radius: 7px;
    border: 1px solid purple;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 16px;
    text-decoration: none;
    text-shadow: 0px 1px 2px #2f6627;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-color: #00239C;
    padding: 8px 15px;
    color: white;
    width: 3vw;
    text-align: center;
}
